@import 'colors';

%form-element {
    display: block;
    border: 1px solid color('primary');
    font-size: 2rem;
    padding: .25rem;
    background: color('blank');
    border-radius: 10px;
}

.search-form {
    padding: 2rem;

    .row {
        display: flex;
        flex-direction: row;
    }


    [name="q"] {
        @extend %form-element;
        flex: 1 1 auto;
        width: 80%;
        margin-right: 5px;
    }

    button {
        flex: 0 0 auto;
        background-color: color('accent');
        display: block;
        border: 1px solid color('accent');
        border-radius: 10px;
        width: 47px;
        height: 47px;
        margin-right: 10px;
    }

    [for="toggle-form"] {
        text-decoration: underline;
        cursor: pointer;
        color: color('accent');
        font-size: 1.5rem;
        width: 47px;
        height: 47px;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    #toggle-form {
        display: none;

        + .advanced {
            max-height: 0;
            transition: max-height 250ms ease-in;
            overflow: hidden;
        }

        &:checked + .advanced {
            max-height: 50px;
        }
    }

    .radio-group {
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        align-content: stretch;
        width: 100%;

        label {
            flex: 1 1 auto;
            display: block;
            color: color('accent');
        }
    }

}
