// bower:scss
@import 'bower_components/normalize-scss/_normalize.scss';
// endbower
@import 'colors';
@import 'form';

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

body {
    background-color: darken(color('background'), 30%);
}

.container {
    background-color: color('background');
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
    order: 1;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    position: relative;
    padding: 20px 40px;

    &:empty {
        padding: 0;

        + .page-header {
            transform: translateY(40vh);
        }
    }

    .prev,
    .next {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        i {
            font-size: 3rem;

            &:hover {
                color: color('accent');
            }
        }
    }

    .prev {
        left: 1%;
    }

    .next {
        right: 1%;
    }
}

.movies,
.tv-series {
    flex: 1 1 auto;
    min-width: calc(50% - 20px);
    padding: 10px;
    position: relative;
    transition: all 350ms ease-in;

    &:before {
        position: absolute;
        top: -10px;
    }

    &:empty {
        display: none;
    }
}

.movies:empty + .tv-series:empty {
    display: block;

    &:before {
        content: 'no data to display';
        position: absolute;
        left: 0;
        right: 0;
        font-size: 3rem;
        text-align: center;
        background: transparent;
    }
}

.movies .list-item {
    transform: translateX(-5%);
}

.tv-series .list-item {
    transform: translateX(5%);
}

.movies:before {
    content: 'MOVIES';
}

.tv-series:before {
    content: 'TV SERIES';
}

.list-item {
    cursor: pointer;
    background-color: color('blank');
    display: block;
    clear: both;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid color('accent');
    filter: grayscale(80%);
    transition: all 350ms ease-in;

    &:hover {
        filter: grayscale(0);
        box-shadow: rgba(#000, .2) 0 0 20px;
        transform: translateX(0);
    }

    &:last-child {
        margin-bottom: 0;
    }

    .body {
        @extend %clearfix;
        padding-bottom: 10px;

        .overview {
            font-style: italic;
            line-height: 1.3;
        }

        @media all and (min-width: 720px) {
            img {
                max-width: 150px;
                float: left;
                margin-right: 10px;

                + .overview {
                    max-width: calc(100% - 160px);
                    float: right;
                }
            }
        }

        @media all and (max-width: 720px) {
            img {
                margin: 0 auto 10px auto;
            }

            img,
            .overview {
                display: block;
                clear: both;
            }
        }
    }

    footer {
        text-align: right;
        border-top: 1px solid color('accent');
        padding: 10px;
    }
}

.page-header {
    flex: 0 0 auto;
    order: 0;
    transition: transform 350ms ease-in;
    background: color('secondary');
    will-change: transform;
}

.page-footer {
    order: 2;
    flex: 0 0 auto;
    text-align: right;
    color: color('accent');
    line-height: 2rem;
    background: color('secondary');

    img {
        width: 200px;
        position: relative;
        top: .8rem;
    }
}

.detail {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    background: color('blank');
    box-shadow: rgba(#000, .2) 5px 5px 10px;
    overflow-y: auto;

    div {
        margin-bottom: 5px;

        span {
            font-style: italic;
        }
    }

    &:empty {
        display: none;
    }
}


